/venv
/img
/Results
/Satellite Image Analysis/Locations
/Satellite Image Analysis/output
/Reviews/R2/Results
/Reviews/R2/Satellite Image Analysis Output
/Insights
/Final Reviews - R1 R2 R3/ 
/Final Judging Normalization - Python Codebase
/Review 2 Codes/output
/Review 2 Codes/recharge_potential
/Review 2 Codes/Temp_Analysis_Gwater
/Review 2 Codes/ward level comp
/Review 3 codes and Drafts/output
/Review 3 codes and Drafts/Locations
